:root {
  --green: #28bfa7;
  --grey: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAV BAR */

.sticky {
  position: fixed;
  top: 0;
}

.navBarContainer {
  display: flex;
  justify-content: center;
}

.navBar {
  display: flex;
  background: var(--grey);
  color: white;
  width: 80rem;
  border-radius: 0rem 0rem 1rem 1rem;
  font-size: 1.4rem;
  height: 4rem;
  filter: drop-shadow(0rem 0rem 0.1rem black);
}

.navBar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  /* margin-left: 1rem; */
  justify-content: space-around;
  flex: 1;
}

.navBar li {
  margin: 1rem;
}

.navBar li a {
  color: white;
  list-style: none;
  text-decoration: none;
  transition: 0.1s;
}

.navBar li a:hover {
  color: var(--green);
}

.navBar .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  transition: 0.25s;
}

.navBar .right {
  margin-right: 1rem;
}

.navBar .right li {
  background: var(--green);
  padding: 0.5rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.247);
  filter: drop-shadow(0rem 0rem 0.1rem black);
  transition: 0.1s;
}

.navBar .right li:hover {
  /* background: rgba(40, 191, 167, 0.247); */
  color: var(--green);
}

.navBar li:last-child {
  right: 1rem;
  flex: 1;
}

/**/
