:root {
  --green: #28bfa7;
  --grey: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAV BAR */
.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
}

.navBarContainer {
  display: flex;
  justify-content: center;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--grey);
  color: white !important;
  width: 80rem;
  height: 4rem;
  font-size: 1.4rem;
  border-radius: 0rem 0rem 1rem 1rem;
  filter: drop-shadow(0rem 0rem 0.1rem black);
  transition: 0.1s;
  font-weight: 600;
}

.navItem {
  text-decoration: none;
  color: white !important;
  transition: 0.2s;
}

.navItem:hover {
  transition: 0.2s;
  color: var(--green) !important;
}

/**/

/* INSIGHTS PAGE */

.insightsTitle {
  margin-top: calc(2rem+50vh);
  font-size: 3rem;
}

.cards {
  display: flex;
  justify-content: center;
}

.card1,
.card2 {
  position: relative;
  display: block;
  width: 33rem;
  background: var(--grey);
  height: 40rem;
  border-radius: 1rem;
  filter: drop-shadow(0rem 0rem 0.1rem black);
  margin: 2rem;
  margin-top: 0rem;
}

.cards h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

table,
td,
th {
  border: 3px solid var(--grey);
  filter: drop-shadow(0rem 0rem 0.1rem black);
}

table {
  width: 100%;
  border-collapse: collapse;
}

/**/

/* RECORDING */

.box1,
.box2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box2 button {
  color: white;
  display: inline-flex;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  margin-bottom: 3rem;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  filter: drop-shadow(0rem 0rem 0.1rem black);
  transition: 0.1s;
  text-align: center;
  align-items: center;
}

.box2 button:hover {
  background: var(--green);
}

.volumePic {
  margin-left: 1rem;
}

.recordingNotes {
  padding: 0.8rem;
  margin: 0.5rem;
  margin-top: -1.2rem;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  max-width: 40rem;
  filter: drop-shadow(0rem 0rem 0.1rem black);
}

.submitRecordingHolder {
  display: flex;
  justify-content: center;
}

.submitRecordingHolder button {
  border: none;
  padding: 1rem;
  font-size: 1.8rem;
  color: white;
  background: black;
  border-radius: 1.6rem;
  transition: 0.25s;
  filter: drop-shadow(0rem 0rem 0.1rem black);
}

.submitRecordingHolder button:hover {
  background: var(--green);
  color: white;
  filter: drop-shadow(0rem 0rem 0.2rem black);
}

/**/
